{% extends 'base.html' %}

{% block titleBlock %}
小说详情页
{% endblock %}

{% block javascriptBlock %}
{#    <script type="text/javascript" src="../static/js/detail.js"></script>#}

{% endblock %}

{% block contentBlock %}
<div class="detail_con fl">
            <h3>{{ data.novel_detail.name }}</h3>
            <div class="detail_about clearfix">
                <span class="time_souce fl">{{ data.novel_detail.update_time }} 作者: {{ data.novel_detail.author }}</span>
                <span class="comment fr"> 阅读量：{{ data.novel_detail.clicks }}</span>
            </div>

{#            {{ data.novel_detail.content | safe }}#}


{#            {{ data.novel_detail.chapter_urls_and_names | safe }}#}
{#            {{ data.novel_detail.chapter_urls_and_names.keys() }}#}


{##}
{#{% for novel in data.novel_list %}#}
{#                    <li><span class="{{ loop.index | index_filter }}">{{ loop.index }}</span><a href="/{{ novel._id }}">{{ novel.name }}</a></li>#}
{##}
{#                {% endfor %}#}

{% for novel_chapter in data.novel_detail.chapter_urls_and_names.items() %}
{#                    <li><span class="{{ loop.index | index_filter }}">{{ loop.index }}</span><a href="/{{ novel_chapter.chapter_names }}">{{ novel_chapter.chapter_urls }}</a></li>#}
                    <li><span class="{{ loop.index | index_filter }}">{{ loop.index }}</span><a href="{{ novel_chapter[1] }}">{{ novel_chapter[0] }}</a></li>

                {% endfor %}


        </div>

{% endblock %}

