{% extends 'base.html' %}

{% block titleBlock %}
小说详情页
{% endblock %}

{% block contentBlock %}
<div class="detail_con fl">
            <h3>{{ data.novel_detail.name }}</h3>
            <div class="detail_about clearfix">
                <span class="time_souce fl">{{ data.novel_detail.update_time }} 来源: {{ data.novel_detail.source }}</span>
                <span class="comment fr">{{ data.novel_detail.clicks }}</span>
            </div>

            {{ data.novel_detail.content | safe }}
        </div>
{% endblock %}

